.git
.github
.DS_Store

**/.env
**/.env.*
!**/.env.example

**/.phpunit.result.cache
**/node_modules
**/vendor

apps/server/bootstrap/cache/*.php
apps/server/database/database.sqlite
apps/server/storage/app/public/*
apps/server/storage/framework/cache/*
apps/server/storage/framework/sessions/*
apps/server/storage/framework/testing/*
apps/server/storage/framework/views/*
apps/server/storage/logs/*

docker/self-hosting/.env
